@media screen and (min-width:1440px) {
    :root{
        --blanco: hsl(0, 0%, 100%);
    }
    
    /* main */

    .text h2{
        font-size: 3.2em;
        text-align: initial;
        font-weight: normal;
    }

    .text p{
        line-height: 25px;
        margin: 3em 0 0 ;  
    }

    .flex-desktop{
        display: flex;
        justify-content: space-between;
    }
    
    .creations .boton{
        display: block;
    }

    .poster{
        display: grid;
        grid-template-columns: repeat(4,25%);
        gap: 2.1em;
        width: 92%;
    }

    .poster div{
        height: 550px;
        color: var(--blanco);
        margin: 0;
    }

    .poster div:nth-child(1){
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.60)), url('../img/desktop/image-deep-earth.jpg') no-repeat center;
        background-size: cover;
    }
    
    .poster div:nth-child(2){
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.60)), url('../img/desktop/image-night-arcade.jpg')no-repeat center;
        background-size: cover;
    }
    
    .poster div:nth-child(3){
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.60)), url('../img/desktop/image-soccer-team.jpg') no-repeat center;
        background-size: cover;
    }
    
    .poster div:nth-child(4){
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.60)), url('../img/desktop/image-grid.jpg') no-repeat center;
        background-size: cover;
    }
    
    .poster div:nth-child(5){
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.60)), url('../img/desktop/image-from-above.jpg') no-repeat center;
        background-size: cover;
    }
    
    .poster div:nth-child(6){
        background: linear-gradient(rgba(0,0,0,0.30), rgba(0,0,0,0.60)), url('../img/desktop/image-pocket-borealis.jpg') no-repeat center;
        background-size: cover;
    }
    
    .poster div:nth-child(7){
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.60)), url('../img/desktop/image-curiosity.jpg') no-repeat center;
        background-size: cover;
    }
    
    .poster div:nth-child(8){
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.60)), url('../img/desktop/image-fisheye.jpg') no-repeat center;
        background-size: cover;
    }

    .poster div p{
        padding: 17.2em 3.5em 1em 1.5em;
    }

    .poster div#grid p {
        padding: 17.2em 7em 1em 1.5em;
    }

}

/* main */


@media (max-width: 768px) {
    .visor__imagen img {
      width: 100%;
    }
    .visor {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;
    }
    .visor__content {
      display: inline-block;
      /* border: 1px red solid; */
      background-color: white;
      transform: unset;
      width: 100%;
      height: 100%;
      padding: 50px 30px;
    }
    .content__title {
      text-align: center;
    }
    .content__text {
      margin-top: 20px;
    }
    .main__creations{
        padding: 50px;
    }
    /* Jesus */
      .footer__contain{
        display: flex;
        flex-direction: column;
      }
      .contain__footer-right {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: auto;

      }
      /* .contain__title {
      } */
      .contain__bottons {
        display: flex;
        flex-direction: column;
      }
      .contain__footer-left {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: auto;
        margin-left: auto;
        margin-right: auto;
      }
      .contain__icon {
        justify-content: center;
      }
    /*Jesus*/
  }
  
  @media (max-width: 425px) {
    .visor ,  .main__creations, .visor__content{
       padding: 20px;
    }
    .content__title {
      font-size: 2rem;
    }

  }
  