* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  background: url(../img/image-hero.jpg) no-repeat;
  background-size:cover;
  height: 620px;
  width: 1440px;
  
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  color: white;
  padding-top: 65px;
  padding-left: 165px;
}

.navbar__list {
  display: flex;
  list-style: none;
  gap: 35px;
  padding-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  padding-top: 75px;
  padding-right: 160px;
}


/* .navbar__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  gap: 10px;
  padding: 20;
} */

/** prueba 1
/* .navbar__list {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    border-radius: 20px;
    padding: 3.5px 10px;
    transition: all 0.1s ease-in 0s;
    cursor: pointer;
    justify-content: right;
    list-style: none;
    gap: 20px;
    padding: 20;
  } */



/* .navbar__list-item {
  display: inline-block;
  border-radius: 20px;
  padding: 3.5px 10px;
  transition: all 0.1s ease-in 0s;
  cursor: pointer;
  padding: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  color: white;
}

.navbar__list-item:hover {
  background-color: #0287a8;
  transform: scale(1.15);
} */
