@media (max-width: 1440px) {
  :root {
    --width-desktop: 1440px;
    --color-White: hsl(0, 0%, 100%);
    --color-Black: hsl(0, 0%, 0%);
    --color-Dark-Gray: hsl(0, 0%, 55%);
    --color-Very-Dark-Gray: hsl(0, 0%, 41%);
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .footer {
    size: var(--width-desktop);
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .contain__footer-right {
    padding-top: 10px;
    padding: 50px;
  }
  .contain__title {
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .contain__bottons {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
  }
  .bottons:hover {
    cursor: pointer;
    /* box-shadow: 10px 10px 40px gray; */
  }
  .contain__footer-left {
    padding-top: 10px;
    padding: 50px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .contain__icon {
    display: flex;
    justify-content: right;
    gap: 15px;
    padding-bottom: 20px;
  }
  .contain__copiright {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--color-Dark-Gray);
  }
}
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .contain__footer-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  /* .contain__title {
  } */
  .contain__bottons {
    display: flex;
    flex-direction: column;
  }
  .contain__footer-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .contain__icon {
    justify-content: center;
  }
}
